* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* TOP BAR */
.top-bar {
  background-color: #011434;
  height: 50px;

  box-shadow: 0.1em 0.1em 1em 0.1em lightslategrey;
}
.top-bar img {
  border-radius: 50%;
  height: 100%;
}

/* CARD */
.card {
  max-width: 300px;
  height: 400px;
  position: relative;

  border: 1px black solid;
  border-radius: 5%;

  overflow: hidden;
}

.photos {
  position: relative;
}

.laptop {
  width: 100%;
}

.logo {
  position: absolute;
  width: 15%;
  right: 0;

  margin: 1rem;

  border-radius: 50%;
}

/* SOCIAL BUTTONS */
.socials {
  position: relative;
  height: 10%;
}
.github {
  position: absolute;
  right: 15%;
  margin: 1rem;
  width: 10%;
}
.twitter {
  position: absolute;
  right: 0%;
  margin: 1rem;
  width: 10%;
}

.content {
  height: auto;
}

.content p {
  margin: 1rem;
  height: auto;
  font-size: 0.8em;
}

/* GRID */
main {
  display: grid;
  grid-template:
    ". main-content ." 100%/
    1fr 4fr 1fr;
}
.main-content {
  grid-area: main-content;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));

  grid-gap: 0.2rem;

  margin-top: 1em;

  /* margin-left: 20vw;
  margin-right: 20vw; */
}
